.create_game {
  width: 95vw;
  margin: 0 auto;
}

.rules_banner {
  min-height: 300px;
  background-color: #2361BE;
  display: grid;
  place-items: center;
}

.rules_set {
  background-color: #194485;
  min-height: 200px;
  width: 60%;
  padding: 50px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.rules_set > h2 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
}

.rules_set > p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  text-align: center;
}

.title {
  height: 100px;
  background-color: #123161;
  text-align: center;
  display: grid;
  place-items: center;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

.action_buttons {
  margin: 150px 0px;
}

.action_buttons .button {
  display: block;
  margin: 0 auto;
  width: 146px;
  height: 48px;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  border: 2px solid #205DAD;
  transition: 200ms ease-in;
  cursor: pointer;
  background-color: transparent;
  color: #205DAD;
}

.action_buttons .button:hover {
  background-color: #205DAD;
  color: #fff;
}

.action_buttons .button_note {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #000;
  margin-top: 10px;
}